/*矢量图标*/
@font-face {
  font-family: 'iconfont';
  src: url('iconfont/iconfont.eot');
  src: url('iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
  url('iconfont/iconfont.woff') format('woff'),
  url('iconfont/iconfont.ttf') format('truetype'),
  url('iconfont/iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-dui{
  color: #00FF00;
}
.icon-cuo{
  color: #FF0000;
}

.comments{
  margin:0;
  padding:0;
  list-style-type: none;
}

.comment{
    display: block;
    margin-top: 5px;
    height: auto;
    width: 100%;
}
.comment-thumbnail{
  position: absolute;
}
.comment-content{
  margin-left: 50px;
  padding: 5px;
  height: auto;
  width: 80%;
}
.comment-author{
}
.comment-date{
  float: right;
}
.comment-body{
  padding-left: 50px;
}